@media screen and (max-width:768px) {
    body{
        background-color: #dddada;
    }
    .header-h1{
        font-size: 18px;
    }
    .section3-info{
        margin-bottom: calc(50px - 4vw);
    }
}

@media screen and (max-width:480px) {
    .section{
        padding: 10px;
    }
    .section-title{
        font-size: 10px;
    }
}